//#########################
//###Pipeline Parameters###
//#########################

//##### General                                                                                                                                                                                                    params.outdir = "augur_results"
params.threads = 1
params.outdir = "augur_results"

//##### Required Inputs
params.sequences = ""
params.reference = ""
params.metadata = ""
params.colors = ""
params.lat_long = ""
params.config = ""

//##### Filter
params.filter = ""
params.group_by = "country year month"
params.per_group = ""
params.filter_addn = ""

//##### Mask
params.mask = ""
params.mask_addn = ""

//##### Align
params.align_addn = ""

//##### Tree
params.tree_addn = ""

//##### Refine
params.refine_addn = ""

//##### Ancestral
params.ancestral_addn = ""

//##### Translate
params.translate_addn = ""

//##### Traits
params.traits = true
params.columns = "region country"
params.traits_addn = ""

//##### Export
params.export_addn = ""

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true
docker.enabled = true
process.container = 'staphb/augur:7.0.2'
