//#########################
//###Pipeline Parameters###
//#########################

//##### Starting Parameters
params.reference = "./sarscov2ref.gb"
params.outdir = "augur_results"
params.dropped = "./config/dropped_strains.txt"
params.sequences_per_group = ""
params.min_date = 2019
params.colors = "./colors.txt"
params.lat_long = "./lat_longs.tsv"
params.config = "./auspice_config.json"

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true
docker.enabled = true
process.container = 'staphb/augur:latest'
