//#########################
//###Pipeline Parameters###
//#########################

//##### Starting Parameters
params.metadata = ""
params.sequences = ""
params.reference = ""
params.outdir = "augur_results"
params.filter = false
params.min_date = 2019
params.traits = false
params.colors = ""
params.lat_long = ""
params.config = ""

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true
docker.enabled = true
process.container = 'staphb/augur:latest'
